// @font-face {
//   font-family: 'NotoSerif';
//   font-style: normal;
//   font-weight: 500;
//   src: url("assets/fonts/NotoSerifCJKtc-SemiBold.woff2")  format('woff2'),
//        url("assets/fonts/NotoSerifCJKtc-SemiBold.woff")   format('woff')
// }

// @font-face {
//   font-family: 'NotoSerif';
//   font-style: bold;
//   font-weight: 700;
//   src: url("assets/fonts/NotoSerifCJKtc-SemiBold.woff2")  format('woff2'),
//        url("assets/fonts/NotoSerifCJKtc-SemiBold.woff")   format('woff')
// }

@font-face {
  font-family: 'Bonkers';
  src: url("assets/fonts/Bonkers.woff2")  format('woff2'),
       url("assets/fonts/Bonkers.woff")   format('woff')
}

@font-face {
  font-family: 'MyriadPro';
  font-style: bold;
  font-weight: 700;
  src: url("assets/fonts/MyriadPro-Bold.woff2")  format('woff2'),
       url("assets/fonts/MyriadPro-Bold.woff2")   format('woff')
}

@font-face {
  font-family: 'MyriadPro';
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/MyriadPro-Regular.woff2")  format('woff2'),
       url("assets/fonts/MyriadPro-Regular.woff")   format('woff')
}

@font-face {
  font-family: 'MyriadPro';
  font-style: bold;
  font-weight: 700;
  src: url("assets/fonts/MyriadPro-Bold.woff2")  format('woff2'),
       url("assets/fonts/MyriadPro-Bold.woff2")   format('woff')
}